body {
  display: flex;
  background: grey;
  font-family: Garamond;
}

.print-button {
  position: absolute;
  padding: 1rem;
  background-color: Transparent;
  border-radius: 8px;
  font-size: 16pt;
  cursor: grab;
  margin: 1rem;

  border: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  transition-property: border, color, background-color;
  transition-duration: 0.5s;
}

.print-button:hover {
  color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: grey;
}

.page {
  background: white;
  width: 8.5in;
  min-height: 11in;
  margin: auto;
  box-shadow: 15px 10px 18px #000;
}

.inner-page {
  margin: 0.5in;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h1 {
  margin: 0; /* Override default */
}

.icon-container {
  text-align: center;
  padding: 0 1rem;
}

.school-description {
  white-space: nowrap;
}

.infotable {
  flex: 1;
}

.summary {
  padding: 1rem;
}

.job-title {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.section-icons {
  margin-top: 0.5rem;
}
.section-experience {
  margin-top: 0.5rem;
}

ul {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.clickable {
  cursor: grab;
}

@media print {
  .print-button {
    display: none;
  }

  .page {
    width: 100%;
    height: 100%;
    margin: 0;
    box-shadow: none;
  }

  .inner-page {
    margin: 0;
  }

  .fa-caret-down {
    display: none !important;
  }

  .noprint {
    display: none !important;
  }

  .li-print {
    display: list-item;
  }

  /* body {
    font-size: 10pt;
  } */
}
