body {
  background: grey;
  font-family: Garamond;
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0; /* Override default */
}

.hidden {
  display: none;
}

.clickable {
  cursor: grab;
}

.bold {
  font-weight: bold;
}

.print-button {
  position: fixed;
  padding: 1rem;
  background-color: Transparent;
  border-radius: 8px;
  font-size: 16pt;
  cursor: grab;
  margin: 1rem;

  border: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition-property: border, color, background-color;
  transition-duration: 0.5s;
}

.print-button:hover {
  color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: grey;
  z-index: 2;
}

.page {
  background: white;
  width: 8.5in;
  min-height: 11in;
  margin: 0 auto 4rem;
  box-shadow: 15px 10px 18px #000;
  position: relative;
}

.inner-page {
  margin: 0.5in 0.75in;
}

@media (max-width: 500px) {
  .inner-page {
    margin: 10%;
  }
  /* Hide Print button for small screens. Can't print from mobile! */
  .print-button {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section-warning {
  font-style: italic;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 1rem;
  width: 100%;
}

.job-title {
  display: flex;
  justify-content: space-between;
}

.section-icons {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

@media (max-width: 750px) {
    .section-icons {
      flex-direction: column;
      align-items: flex-start;
    }
    .subsection-icons {
      margin: 1rem 0; /* Not a big fan of this special case... */
    }
}

.subsection-icons {
  display: flex;
  flex-direction: row;
}

.icon {
  margin: 0 1rem;
}

.school-description {
  white-space: nowrap;
}

.section-experience {
  margin-top: 0.5rem;
}

.section-summary {
  margin-top: 0.5rem;
}

ul {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

@media print {
  .print-button {
    display: none;
  }

  .container {
    display: block; /* Needed for page breaks */
  }

  .page {
    width: 100%;
    min-height: 0;
    margin: 0 0 0;
    box-shadow: none;
    page-break-before: always;
  }

  .page:first-child {
    page-break-before: avoid;
  }

  .inner-page {
    margin: 0;
  }

  .fa-caret-down {
    display: none !important;
  }

  .noprint {
    display: none !important;
  }

  .li-print {
    display: list-item;
  }

  .section-warning {
    /* position: inherit;
    margin-top: 3rem; */
    /* Hack: The div overflows off the page in the print layout, so a different offset needs to be used. Not sure if it's content dependent */
    /* This is absolutely positioned relative to the .page div. That div is smaller on print than on screen. */
    bottom: -1in;
  }
}
